[submodule "KoyuncuOzkaya/nice-slam"]
	path = KoyuncuOzkaya/nice-slam
	url = https://github.com/cvg/nice-slam.git
[submodule "KoyuncuOzkaya/CompletionFormer"]
	path = KoyuncuOzkaya/CompletionFormer
	url = https://github.com/youmi-zym/CompletionFormer.git
[submodule "KoyuncuOzkaya/KoyuncuOzkaya/extern/pybind11"]
	path = KoyuncuOzkaya/KoyuncuOzkaya/extern/pybind11
	url = https://github.com/pybind/pybind11.git
